.ref {
    font-size: 10px;
}

.logo-main {
    width: 40%;
}


/* wave */
body {
    margin: 0;
}

h1,
h2 {
    font-family: "Rubik Mono One", monospace;
    font-style: normal;
    color: #0077be !important;
}

.company-name {
    color: #0077be;
    text-transform: uppercase;
    animation: wave 2.5s infinite ease-in-out, colorChange 4.5s infinite ease-in-out;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #333333;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation company name */
@keyframes colorChange {

    0%,
    100% {
        color: #0077be;
    }

    50% {
        color: #00bfff;
    }
}

/* Animation wave */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}

/* end wave */

/* Bubbles */
.bubbles {
    position: absolute;
    bottom: 0;
    z-index: 5;
    background-color: white;
    border-radius: 50%;
    opacity: .50;
    width: 40px;
    height: 40px;
    animation: up 4s infinite;
}

.bubble-2 {
    left: 10%;
    animation: up 2s infinite;
}

.bubble-3 {
    left: 20%;
    opacity: .30;
    animation: up 5s infinite;
}

.bubble-4 {
    left: 30%;
    animation: up 6s infinite;
}

.bubble-5 {
    left: 40%;
    animation: up 5s infinite;
}

.bubble-6 {
    left: 60%;
    opacity: .30;
    animation: up 3s infinite;
}

.bubble-7 {
    left: 70%;
    animation: up 4s infinite;
}

.bubble-8 {
    left: 80%;
    opacity: .30;
    animation: up 3s infinite;
}

/* Bubbles Animation */
@keyframes up {
    100% {
        transform: translateY(-800px);
    }
}


/* card items */

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

/* divider */
.divider {
    height: 100px;

}

#divider{
    margin-bottom: 15px;
}

/* vibration call*/
.call-button {
    background-color: #28a745;
    color: white;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    right: 20px;
    bottom: 150px;
    z-index: 1000;
    animation: vibrate 0.3s linear infinite;
}

.call-button:hover {
    background-color: #218838;
}

@keyframes vibrate {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    
    50% { transform: translate(-1px, 2px) rotate(-1deg); }

    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* author */

.made-by {
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color:#fff;
}

.ref-to-author{
    color: #fff;
    text-transform: uppercase;
    animation: wave 2.5s infinite ease-in-out, colorChange 4.5s infinite ease-in-out;
}
